<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xpp.blog.mapper.BlogMapper">
	<resultMap type="com.xpp.blog.entity.Blog" id="BlogEntityMap">
		<id column="id" property="id"/>
		<result column="openId" property="openId"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="image" property="image"/>
		<result column="views" property="views"/>
		<result column="praise" property="praise"/>
		<result column="is_praise" property="isPraise"/>
		<result column="is_collect" property="isCollect"/>
		<result column="created_user" property="createdUser"/>
		<result column="created_time" property="createdTime"/>
		<result column="modified_user" property="modifiedUser"/>
		<result column="modified_time" property="modifiedTime"/>
	</resultMap>
	<insert id="addNewBlog" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO blog (
			openId,title,
			content,image,
			views,praise,
			is_praise,is_collect,
			created_user,created_time,
			modified_user,modified_time
		)VALUES(
			#{openId},#{title},
			#{content},#{image},
			#{views},#{praise},
			#{isPraise},#{isCollect},
			#{createdUser},#{createdTime},
			#{modifiedUser},#{modifiedTime}
		);
	</insert>
	
	<select id="findAllBlog" resultMap="BlogEntityMap">
		SELECT * FROM blog;
	</select>
	
	<select id="findBlogByIdAndOpenid" resultMap="BlogEntityMap">
		SELECT * FROM blog WHERE id=#{id} AND openId=#{openId};
	</select>
	
	<update id="updateViews">
		UPDATE blog SET views = views+1 WHERE id=#{id} AND openId=#{openId};
	</update>
	
	<update id="updatePraise">
		UPDATE blog SET praise=#{praise}, is_praise=#{isPraise} WHERE id=#{id};
	</update>
	
	<update id="updateCollect">
		UPDATE blog SET is_collect=#{isCollect} WHERE id=#{id};
	</update>
	
	<select id="findCollectBlog" resultMap="BlogEntityMap">
		SELECT * FROM blog WHERE openId=#{openId} AND is_collect=1;
	</select>
</mapper>